- unless flash[:notice].blank?
  #notice.notice.message.feedback.clear{'data-hilite' => '#00dd00'}
    %p= render_multiline_message(flash[:notice])

- unless flash[:alert].blank?
  #warning.warning.message.clear{'data-hilite' => '#ffff00'}
    %p= render_multiline_message(flash[:alert])

= javascript_tag %q{$('.message').animate({backgroundColor: $('.message').data('hilite')}, 3000);}
