- unless flash[:notice].blank?
  #notice.notice.feedback.clear
    %p= raw(render_multiline_message(flash[:notice]))
    = javascript_tag("addLoadEvent(function() { $('notice').highlight({startcolor: '#00dd00', duration: 3}); })")

- unless flash[:alert].blank?
  #warning.warning.clear
    %p= raw(render_multiline_message(flash[:alert]))
  = javascript_tag("addLoadEvent(function() { $('warning').highlight({startcolor: '#ffff00', duration: 3}); })")
