#staffButtons.adminField
  %p
    = button_bar( |
       ['Add Comps',:vouchers, :addvoucher, {}],                      |
       ['Order History', :orders, :by_customer, {:id => @gCustomer}], |
       ['Donation History', :donations, :index,                       |
          {:use_cid => 1, :commit => 'Go', :cid => @gCustomer,        |
          :show_vouchers => true}],                                   |
       ['Contact History', :visits, :index, {}],                      |
       ['Prospecting Activities', :visits, :list_by_prospector, {}],  |
       ['Database Transactions',:txn, :index,                         |
          {:params => {:txns_filter => @gCustomer.id}}] )             |
    = link_to 'Record Donation', new_customer_donation_path(@gCustomer), {:class => 'adminButton'}
.clear
