%h1 Session Expired

#restart_session
  %p.warning
    Sorry, your session has expired because it's been more than 
    = h(Option.session_timeout)
    minutes since you left this page.

  %p#restart_session
    To resume with a new session, you can
    = link_to 'Buy Tickets', store_path
    or visit
    = link_to 'My Account', customer_path
    to check on the status of a purchase or reservation.

  %p Sorry for the inconvenience!
