.container
  %h1 Import External Vendor Ticket Sales
  = form_tag ticket_sales_imports_path, :multipart => true, :class => 'form' do
    .form-row.px-2
      %label.col-2.text-right.col-form-label{:for => 'vendor'} Import from
      = select_tag 'vendor', options_for_select(@vendors), :class => 'form-control col-2'
      %label.col-2.btn.btn-primary{:for => 'file'} Choose file...
      = file_field_tag 'file', :hidden => 'hidden', :onchange => %q{$('#filename').html($('#file')[0].files[0].name)}
      %label.col-3.col-form-label.small#filename No file chosen
      = submit_tag 'Continue', :class => 'col-2 btn btn-success'




