%h1 Maintenance

.maintenance
  %p 
    Audience1st is temporarily unavailable because we're performing some
    maintenance.  It'll be back shortly.

  %p
    We apologize for the inconvenience!

  %p= link_to 'Staff Login', logout_path, :class => 'btn btn-danger'

