#notices
  - unless flash[:notice].blank?
    .alert.alert-secondary.text-center{'data-hilite' => '#00dd00'}
      = render_multiline_message(flash[:notice])

  - unless flash[:alert].blank?
    .alert.alert-danger.text-center{'data-hilite' => '#ffff00'}
      = render_multiline_message(flash[:alert])

  = javascript_tag %q{$('.alert').animate({backgroundColor: $('.alert').data('hilite')}, 3000);}
