%a.a1tooltip{:href => '#', :onclick => '$(this).find("span.a1tooltip").toggleClass("a1hidden"); event.preventDefault();' }
  = image_tag 'question.png'
  %span.a1tooltip.a1hidden{:onclick => 'console.log("here"); $("span.a1tooltip").addClass("a1hidden"); '}= popup_help
