%a.a1tooltip{:href => '#', :onclick =>  '$("span.a1tooltip").addClass("a1hidden"); $(this).find("span.a1tooltip").removeClass("a1hidden"); event.preventDefault();' }
  ?
  %span.a1tooltip.a1hidden{:onclick => 'console.log("here"); this.style.visibility="hidden"; event.preventDefault(); '}= popup_help
