language: ruby
rvm:
  - 2.5.5
sudo: false
cache: bundler
bundler_args: --without production
env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
    - CC_TEST_REPORTER_ID=c2b95b25d30ce5fa83d28309f1857d559be106347c00705aeb5325bc10c46935
    - CCTR=/tmp/cc-test-reporter
before_install:
  - export TZ=America/Los_Angeles
  - gpg --passphrase $KEY -d -o config/application.yml config/application.yml.asc
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > $CCTR
  - chmod +x $CCTR
  - $CCTR before-build
  - gem install bundler --version=1.17.2
  - bundle config build.nokogiri --use-system-libraries
script:
  - cp config/database.yml.test config/database.yml
  - bundle exec rake db:setup
  - bundle exec cucumber --retry 1
  - $CCTR format-coverage --output coverage/codeclimate.$SUITE.json
  - bundle exec rspec
  - $CCTR format-coverage --output coverage/codeclimate.$SUITE.json
after_script:
  - $CCTR sum-coverage coverage/codeclimate.*.json | $CCTR upload-coverage
  - $CCTR after-build --exit-code $TRAVIS_TEST_RESULT
  - rm -f config/application.yml
