language: ruby
rvm:
  - 2.3.1
sudo: false
cache: bundler
bundler_args: --without production
before_install:
  - export TZ=America/Los_Angeles
  - gpg --passphrase $KEY -d -o config/application.yml config/application.yml.asc
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
    - CC_TEST_REPORTER_ID=787a2f89b15c637323c7340d65ec17e898ac44480706b4b4122ea040c2a88f1d
script:
  - cp config/database.yml.test config/database.yml
  - mkdir -p public/stylesheets/venue && touch public/stylesheets/venue/default.css
  - bundle exec rake db:setup
  - bundle exec rake ci:tests
  - ./cc-test-reporter before-build
  - bundle exec rake features
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
after_script:
  - rm -f config/application.yml