= File.read 'header.html'
:javascript
  document.getElementById('index').className += " active";
  
%p.lead.bg-info.p-3.my-3.text-white.rounded

  Audience1st is a web-based, all-in-one system for ticketing,
  subscriptions, development, and backoffice functions, designed
  expressly for the needs and budgets of small to medium sized
  arts and cultural organizations.  Theaters in the San Francisco Bay Area have
  been relying on Audience1st for over 10 years.  Until the arts are back in
  business, usage is completely free.  After that, it'll be too cheap to meter.

%p
  Audience1st is a volunteer-run not-for-profit, so the low monthly
  fees we charge cover our hosting expenses and nothing more.  In fact
  we are waiving our fees at this time to help the arts and culture community
  during this difficult era of COVID-19, so you can get up and running
  on Audience1st quickly and at no cost.

%p
  Nonprofit arts and cultural organizations rely heavily on both donations and subscriptions
  for long-term stability.  That means that selling a ticket to a
  customer is just the beginning of cultivating your relationship with that
  customer: you need to help discount buyers become regular customers,
  then  subscribers or returning patrons, and ultimately donors and supporters.  And if
  you sell tickets through discount outlets like Goldstar or TodayTix,
  you need to track those patrons' purchases and get them "into the
  tent" as well.  

%p
  Most low-cost third-party ticket sales solutions either don't give
  you this level of integration, or want to own the customer
  relationship themselves.  In contrast, Audience1st integrates your
  own ticket sales, third-party ticket sales (such as Goldstar and
  TodayTix), box office reports, calendar, up-to-the-minute ticket
  availability information (which can be easily displayed on your organization's
  WordPress-based or other web site), attendance statistics, donor management and followup,
  online donations, and support for email marketing (via MailChimp
  integration), all in one Web-based system.

%p
  You can set up streaming events and in-theater performances in
  Audience1st. Streaming events can take place at a specific time, or
  customers can access the content any time during a specified time
  period. For in-theater performances, both reserved and
  general-admission 
  seating are supported.  You can
  create almost any kind of subscription package, run time-limited or
  capacity-limited promotions, give certain patrons (e.g. subscribers)
  early or preferential access to events, and more. 


= File.read 'footer.html'
