= File.read 'header.html'

.alert.alert-info
  %p
    This page is for the Arts & Culture Organizations that use Audience1st.
    You only need to set up monthly billing once, and only if you have not already
    made other payment arrangements with Audience1st.
  %p
    By using this page, you represent that you are an agent of the Organization
    authorized to make vendor payments.

:javascript
  var d = function(e) { return(document.getElementById(e)); };
  document.addEventListener("DOMContentLoaded", function() {
    d('venue').onchange = function(evt) {
      if (this.value == '') {
        d('no_payment').style.display = 'block';
        d('payment').style.display = 'none';
      } else {
        d('no_payment').style.display = 'none';
        d('payment').style.display = 'block';
        d('payment_button').setAttribute("value", this.value);
        d('venue_name').innerText = this.options[this.selectedIndex].text;
      }
      return(false);
    };
  });

.row.my-2
  .col-6
    %select#venue.form-control
      -# go to paypal.com/buttons to create another button....
      %option{value: ""} Select organization...
      %option{value: "JYKCWRLSYG59J"} Altarena Playhouse
      %option{value: "GCELVD4X5ZD5W"} Landmark Musical Theatre
      %option{value: "PTVUC3MN8UDNA"} The Lorraine Hansberry Theatre
      %option{value: ""} Night Out/Night Off at Berkeley
      %option{value: "UE526UP9U6P9Y"} Theatre Rhinoceros
      %option{value: ""} Tickets 4 a Good Cause
  .col-6.text-center#payment{style: "display: none;"}
    %p Continue to PayPal to set up monthly billing for<br/><em><span id="venue_name"></span></em>.
    %form.form{action: "https://www.paypal.com/cgi-bin/webscr", method: "post"}
      %input{type: "hidden", name: "cmd", value: "_s-xclick"}
      %input#payment_button{type: "hidden", name: "hosted_button_id", value: ""}
      %input{type: "image", src: "https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif", border: "0", name: "submit", alt: "PayPal - The safer, easier way to pay online!"}
  .col-6#no_payment.alert.alert-success.p-3.text-center{style: "display: none;"}
    Your organization has already made other payment arrangements.  No action required.


= File.read 'footer.html'
