<h2>Edit <font color="blue"><%= @valid_voucher.vouchertype.name %></font> 
ticket eligibility<br/>
for <font color="blue"><%= fmt_date(@valid_voucher.showdate.thedate) %> </font><br/>
performance of  <font color="blue"> <%= @valid_voucher.showdate.show.name %> </font>
</h2>

<%= start_form_tag :action => 'update', :id => @valid_voucher %>

  <%= hidden_field 'valid_voucher', 'vouchertype_id', :value => @valid_voucher.vouchertype.id %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Save Changes' %>
<%= end_form_tag %>

