<h2>Add ticket type for <%= @showdate.show.name %></h2>

<%= start_form_tag :action => 'create' %>

<label for="valid_voucher_vouchertype_id">Voucher/ticket type</label><br/>
<select id="valid_voucher_vouchertype_id" name="valid_voucher[vouchertype_id]">
<%= options_from_collection_for_select Vouchertype.find(:all, :conditions => 'is_bundle = 0'), "id", "name" %>
</select>
<br/>

  <%= render :partial => 'form' %>

<table>
<tr>
<td>Add ticket type to:</td>
<td>
<%= hidden_field_tag 'valid_voucher[showdate_id]', @showdate_id %>
<%= radio_button_tag "addtojustone", 1, true %> <%= fmt_date(Showdate.find(params[:showdate_id]).thedate) %> Only<br/>
<%= radio_button_tag "addtojustone", 0, false %> All Dates<br/>
</td>
</tr>
</table>

  <%= submit_tag "Add" %>
<%= end_form_tag %>

