<h1>Labels</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @labels.each do |label| %>
  <tr>
    <td><%=h label.name %></td>
      <td><%= link_to 'Edit', edit_label_path(label) %></td>
    <td><%= link_to 'Destroy', label, :confirm => 'Are you sure? This label will be removed from all customers that have it.', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New label', new_label_path %>, :class => 'genButton'
