---
http_interactions:
- request:
    method: get
    uri: https://us1.api.mailchimp.com/3.0/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpa2V5OmE1ZDM1YjI0YWFhMjk1NjM4MzdmNTZjOWRiNjcwZTAwLXVzMQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Lists/Collection.json>; rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"lists":[{"id":"9563904db9","web_id":165522,"name":"A1 Patron Systems
        Inc. List","contact":{"company":"A1 Patron Systems Inc.","address1":"251 Surrey
        St","address2":"","city":"San Francisco","state":"CA","zip":"94131-2930","country":"US","phone":""},"permission_reminder":"","use_archive_bar":false,"campaign_defaults":{"from_name":"A1
        Patron Systems Inc.","from_email":"fox@a1patronsystems.com","subject":"","language":"eng"},"notify_on_subscribe":"","notify_on_unsubscribe":"","date_created":"2009-09-07T23:31:13+00:00","list_rating":0,"email_type_option":false,"subscribe_url_short":"http://eepurl.com/dOoEAj","subscribe_url_long":"https://a1patronsystems.us1.list-manage.com/subscribe?u=ac0c02bca107a1776e7a81bd0&id=9563904db9","beamer_address":"us1-b4dcae79be-b44665de31@inbound.mailchimp.com","visibility":"pub","double_optin":false,"has_welcome":false,"marketing_permissions":false,"modules":[],"stats":{"member_count":3,"unsubscribe_count":0,"cleaned_count":0,"member_count_since_send":3,"unsubscribe_count_since_send":0,"cleaned_count_since_send":0,"campaign_count":0,"campaign_last_sent":"","merge_field_count":2,"avg_sub_rate":0,"avg_unsub_rate":0,"target_sub_rate":0,"open_rate":0,"click_rate":0,"last_sub_date":"2018-11-21T18:28:35+00:00","last_unsub_date":""},"_links":[{"rel":"self","href":"https://us1.api.mailchimp.com/3.0/lists/9563904db9","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Response.json"},{"rel":"parent","href":"https://us1.api.mailchimp.com/3.0/lists","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/CollectionResponse.json","schema":"https://us1.api.mailchimp.com/schema/3.0/CollectionLinks/Lists.json"},{"rel":"update","href":"https://us1.api.mailchimp.com/3.0/lists/9563904db9","method":"PATCH","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Response.json","schema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/PATCH.json"},{"rel":"batch-sub-unsub-members","href":"https://us1.api.mailchimp.com/3.0/lists/9563904db9","method":"POST","targetSchema":"https://us1.api.mailchimp.com/schema/3.[...]
- request:
    method: put
    uri: https://us1.api.mailchimp.com/3.0/lists/9563904db9/members/1a77b608be8a9ebd14f9fc7884415f30
    body:
      encoding: UTF-8
      string: '{"email_address":"new@email.com","status":"subscribed","merge_fields":{"FNAME":"Joe4","LNAME":"Doe4"}}'
    headers:
      Authorization:
      - Basic YXBpa2V5OmE1ZDM1YjI0YWFhMjk1NjM4MzdmNTZjOWRiNjcwZTAwLXVzMQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Lists/Members/Instance.json>; rel="describedBy",
        <https://us1.admin.mailchimp.com/lists/members/view?id=449954669>; rel="dashboard"
    body:
      encoding: UTF-8
      string: '{"id":"1a77b608be8a9ebd14f9fc7884415f30","email_address":"new@email.com","unique_email_id":"f878de6011","email_type":"html","status":"subscribed","merge_fields":{"FNAME":"Joe4","LNAME":"Doe4"},"stats":{"avg_open_rate":0,"avg_click_rate":0},"ip_signup":"","timestamp_signup":"","ip_opt":"52.119.127.250","timestamp_opt":"2018-12-24T02:30:28+00:00","member_rating":2,"last_changed":"2018-12-24T02:30:28+00:00","language":"","vip":false,"email_client":"","location":{"latitude":0,"longitude":0,"gmtoff":0,"dstoff":0,"country_code":"","timezone":""},"tags_count":0,"tags":[],"list_id":"9563904db9","_links":[{"rel":"self","href":"https://us1.api.mailchimp.com/3.0/lists/9563904db9/members/1a77b608be8a9ebd14f9fc7884415f30","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json"},{"rel":"parent","href":"https://us1.api.mailchimp.com/3.0/lists/9563904db9/members","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/CollectionResponse.json","schema":"https://us1.api.mailchimp.com/s[...]
