---
http_interactions:
- request:
    method: get
    uri: https://us1.api.mailchimp.com/3.0/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpa2V5OmE1ZDM1YjI0YWFhMjk1NjM4MzdmNTZjOWRiNjcwZTAwLXVzMQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Lists/Collection.json>; rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"lists":[{"id":"9563904db9","web_id":165522,"name":"A1 Patron Systems
        Inc. List","contact":{"company":"A1 Patron Systems Inc.","address1":"251 Surrey
        St","address2":"","city":"San Francisco","state":"CA","zip":"94131-2930","country":"US","phone":""},"permission_reminder":"","use_archive_bar":false,"campaign_defaults":{"from_name":"A1
        Patron Systems Inc.","from_email":"fox@a1patronsystems.com","subject":"","language":"eng"},"notify_on_subscribe":"","notify_on_unsubscribe":"","date_created":"2009-09-07T23:31:13+00:00","list_rating":0,"email_type_option":false,"subscribe_url_short":"http://eepurl.com/dOoEAj","subscribe_url_long":"https://a1patronsystems.us1.list-manage.com/subscribe?u=ac0c02bca107a1776e7a81bd0&id=9563904db9","beamer_address":"us1-b4dcae79be-b44665de31@inbound.mailchimp.com","visibility":"pub","double_optin":false,"has_welcome":false,"marketing_permissions":false,"modules":[],"stats":{"member_count":3,"unsubscribe_count":1,"cleaned_count":0,"member_count_since_send":4,"unsubscribe_count_since_send":1,"cleaned_count_since_send":0,"campaign_count":0,"campaign_last_sent":"","merge_field_count":2,"avg_sub_rate":0,"avg_unsub_rate":0,"target_sub_rate":0,"open_rate":0,"click_rate":0,"last_sub_date":"2018-12-24T02:30:28+00:00","last_unsub_date":"2018-12-24T02:35:28+00:00"},"_links":[{"rel":"self","href":"https://us1.api.mailchimp.com/3.0/lists/9563904db9","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Response.json"},{"rel":"parent","href":"https://us1.api.mailchimp.com/3.0/lists","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/CollectionResponse.json","schema":"https://us1.api.mailchimp.com/schema/3.0/CollectionLinks/Lists.json"},{"rel":"update","href":"https://us1.api.mailchimp.com/3.0/lists/9563904db9","method":"PATCH","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Response.json","schema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/PATCH.json"},{"rel":"batch-sub-unsub-members","href":"https://us1.api.mailchimp.com/3.0/lists/9563904db9","method":"POST","targetSchema":"https://us1.api.mailchimp.com/schema/3.[...]
- request:
    method: patch
    uri: https://us1.api.mailchimp.com/3.0/lists/9563904db9/members/7c49ca441b8002793d25af2e50cbed70
    body:
      encoding: UTF-8
      string: '{"status":"unsubscribed"}'
    headers:
      Authorization:
      - Basic YXBpa2V5OmE1ZDM1YjI0YWFhMjk1NjM4MzdmNTZjOWRiNjcwZTAwLXVzMQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/ProblemDetailDocument.json>; rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"type":"http://developer.mailchimp.com/documentation/mailchimp/guides/error-glossary/","title":"Resource
        Not Found","status":404,"detail":"The requested resource could not be found.","instance":"a03e28a8-0786-4b17-8d99-2a9070b3f3c8"}'
  recorded_at: Thu, 01 Mar 2012 08:00:02 GMT
recorded_with: VCR 3.0.3
