body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: "helvetica narrow", "arial narrow", arial, helvetica, sans-serif;
  line-height: 1.25em;
  font-size:   small;
  }
* html body { 
  font-size: x-small; /* workaround IE5/Win bug */
  f\ont-size: small;  /* for other IE versions */
  }

body.testing { 
  border: solid;
  border-width: thick;
  border-color: red;
}

table { 
  border: 0;
 }

td.label { 
  text-align: right;
}

input[type="submit"] { 
  display: inline;
 }

.clearboth {
  clear: both;
}

.strong { 
  font-weight: bold;
  color: red;
 }

.maincolumn { 
  border: none;
  background: none;              
  font-size: large;
  font-weight: bold
  color: red;
}

.welcomeBanner { 
  font-size: 125%;
  font-weight: bold;
}

.bannerHead { 
  background-color: #883333;
  color: white;
  padding: 8px;
  margin: 4px;
  border: 2px solid #d3bf8e;
  text-align: center;
 }
 .bannerHead a { 
  color: white; 
  text-decoration: none;
 } 

.subHead { 
  color: blue;
  font-weight: bold;
}

.callout { 
  vertical-align: top;
  background-color: #883333;
  color: white;
}

.validatedAddress { 
  background-color: #1f1;
 }
.validationError { 
  color: red;
 }

.staff { 
  background-color: yellow;
}
.subscriber { 
  background-color: #9f9;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: blue; text-decoration: none; }
a:hover { color: #fff; background-color:#000; }
a.subHead { color: blue; text-decoration: none; }

#yourTickets .showName { 
  font-weight: bold;
 }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

.infoMsg { 
  color: red;
  margin: 5px 5px;
  padding: 5px 5px;
  font-size: 125%;
  border: 2px solid red;
 }

table { 
  border: 0;
  background-color: white;
  margin: 10px 10px;
 }

submit { 
  background-color: #eeeeee;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding: 3px;
 }

submit:hover { 
  background-color: black;
  color: white;
}

#ccWaiting { 
  background-color: white;
  color: red;
  line-height: 1.5em;
  font-weight: bold;
  text-align: center;
  border: 1px solid red;
  padding: 2px;
}
#ccWaiting a a:hover { 
  color: red;
 }

.invisible { 
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  font-size: 1px;
  color: white;
  border: none;
}

.genButton { 
  background-color: #e0e0e0;
  color: black;
  line-height: 1.5em;
  border: 1px solid grey;  
  padding: 2px;
  text-align: center;
}

.adminButton { 
  background-color: yellow;
  line-height: 1.5em;
  color: black;
  text-align: center;
  border: 1px solid black;
  padding: 2px;
 }

.navButton { 
  background-color: #e0e0e0;
  color: black;
  font-size: 90%;
  padding: 1px;
}

.adminField { 
   clear: both;
   padding: 2px 10px;
   background-color: yellow;            
   #font-size: larger;
}

.ccAlert { 
   color: red;
   border: 1px solid red;
   padding: 0px 1px;
   margin: 5px 5px;
 }
.help { 
   background-color: #eee;
   color: black;
   text-align: center;
 }



th { 
  background-color: #555555; 
  color: #ffffff;
}
.oddRow { background-color: #ffffff; }
.evenRow { background-color: #e7e7e7; }
.totalsRow { 
  font-weight: bold;
  background-color: #555;
  color: white;
  font-size: larger;             
 }
.r {  text-align: right; }
.c { text-align: center; }
.l { text-align: left; }

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 110%;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 110%;
  list-style: square;
}

.explain { 
  border: 1px solid #8d3127;
  background: white;
  padding: 2px 2px;
  margin: 2px 2px;
  text-align: top;           
 }

.wideCell { 
  width: 50%;
  border: 1px solid grey;
  vertical-align: top;
  padding: 2px 2px;
  margin: 2px 2px;
 }

.pageDiv { 
  border: 1px solid black;
  margin: 5px 5px;
  background-color: #f5f0e2;
  padding: 0 10px 20px 20px;
  color: #8d3127;
 }

.pageDiv h1 { 
  background-color: #d3bf8e;
  color: #872b21;
  font-size: 110%;
  line-height: 0.75;
  padding: 4px 3px;
  margin:  0 -10px 0 -20px;
 }

#loginDiv { 
  float: left;
 }

#storeNav { 
  float: left;
  width: 100%;
  margin: 0 0 10px 0;
  padding: 10px 0 0 10px;
  list-style: none;
  border-bottom: 1px solid grey;
 }

#storeNav li.disabled { 
  float: left;
  display: block;
  text-align: center;
  margin: 0 4px 0 0;
  padding: 4px 8px;
  border: 1px solid grey;
  border-bottom: none;
  font-family: "Arial Narrow", sans-serif;
  font-size: larger;
  color: #ccc;
}

#storeNav li { 
  float: left;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Arial Narrow", sans-serif;
  font-size: larger;
 }


#storeNav a { 
  float: left;
  display: block;
  margin: 0 4px 0 0;
  padding: 4px 8px;
  color: #333;
  text-decoration: none;
  border: 1px solid grey;
  border-bottom: none;
 }

#storeNav a:hover, body#store_index #t_store_index, body#customers_welcome #t_customers_welcome, body#customers_edit #t_customers_edit, body#store_walkup #t_store_walkup, body#customers_list #t_customers_list, body#shows_list #t_shows_list, body#report_index #t_report_index, body#donation_list #t_donation_list, body#vouchertypes_list #t_vouchertypes_list { 
  background:  #eee;
  position: relative;
  top: 1px;
  border-color: black;
  border-bottom-color: white;
 }

div dt { 
  font-weight: bold;
  margin: 2px;
 }

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 1.5em;
  width: 0%;
}

.loginTable { 
  border: 1px solid grey;
 }

.loginTableCell { 
  border: 1px solid grey;
  vertical-align: top
}

.customerName { 
  display: block;
 }

#customerVoucherList td { 
  text-align: center;
}

#pageDiv .showDateSummary { 
  margin: 2px;
  background: white;
}

#pageDiv .showDate { 
  float: left;
  font-size: larger;
  background-color: #666;
  color: white;
  display: block;
 }

#pageDiv .showDateNav { 
  text-align: right;
  background-color: white;
  color: black;
  font-weight: bold;
 }

#pageDiv table.summarySales { 
  width: 80%;
  min-width: 400px;
  max-width: 800px;
 }

#pageDiv td.salesCategory { 
  width: 85%;
 }
#pageDiv td.salesQty { 
  width: 15%;
 }

.wideTable { 
  padding: 0;
  margin: 0;
  width: 100%;
 }

.wideTable >td { 
  padding: 0;
  margin: 0;
  vertical-align: top;
 }

.top { 
  vertical-align: top;
}

#store .showInfo { 
  color: blue;
  font-weight: bold;
 }

.subscriberVouchertype { 
  color: blue;
  font-weight: bold;
 }

#footer * { 
  text-align: center;
  clear: both;
  border-top: 2px ridge #888;
  font-family: verdana, helvetica, sans-serif;
  color: #333;
 }
