body.testing {
  /* background: url('/images/testing.png') repeat-x top left;
  z-index: 100;
     */
  border: 4px solid red;
  margin: 4px;
}


table {
  border: 0;
}
td,th {
  padding: 1px 2px;
}
th {
  text-align: center;
  background: #333;
  color: #fff;
}

input[type="submit"] {
  display: inline;
}

.clearboth {
  clear: both;
}

.strong {
  font-weight: bold;
  color: red;
}
.callout {
  color: red;
}
.hilite {
  background: #feffb7;
}
.browsable:hover {
  background: #feffb7;
}
.maincolumn {
  border: none;
  background: none;
  font-size: large;
  font-weight: bold;
  color: red;
}

.welcomeBanner {
  font-size: 125%;
  font-weight: bold;
}

.bannerHead {
  background-color: #883333;
  color: white;
  padding: 8px;
  margin: 4px;
  border: 2px solid #d3bf8e;
  text-align: center;
 }
 .bannerHead a {
  color: white;
  text-decoration: none;
 }

.subHead {
  color: blue;
  font-weight: bold;
}

.callout {
  vertical-align: top;
  background-color: #883333;
  color: white;
}
.hidden {
  display: none;
 }
.validatedAddress {
  background-color: #1f1;
 }
.validationError {
  color: red;
 }

.highlighted {
  background-color: #9f9;
}
.staff {
  background-color: yellow;
}
.subscriber {
  background-color: #9f9;
}

pre {
  padding: 10px;
  font-family: Monaco,Courier,fixed;
}

/*
a { color: blue; text-decoration: none; }
a:hover { color: #fff; background-color:#000; }
a.subHead { color: blue; text-decoration: none; }

#yourTickets .showName {
  font-weight: bold;
 }
*/

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

.infoMsg {
  color: red;
  margin: 5px 5px;
  padding: 5px 5px;
  font-size: 125%;
  border: 2px solid red;
 }

submit {
  background-color: #eeeeee;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding: 3px;
 }

submit:hover {
  background-color: black;
  color: white;
}

#ccWaiting {
  background-color: white;
  color: red;
  line-height: 1.5em;
  font-weight: bold;
  text-align: center;
  border: 1px solid red;
  padding: 2px;
}
#ccWaiting a a:hover {
  color: red;
 }

.invisible {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  font-size: 1px;
  color: white;
  border: none;
}

.admin {
   background-color: yellow;
   color: black;
}
.adminField {
   clear: both;
   padding: 2px 10px;
   background-color: yellow;
   color: black;
   line-height: 1.5em;
}
.adminButton {
   color: black;
   background-color: whitesmoke;
   border:  1px solid black;
   margin: 1px;
   padding: 2px;
   line-height: 1.5em;
}

.adminButton:hover {
   background-color: yellow;
   color: maroon;
   border:  1px solid maroon;
   text-decoration: none;
}

.ccAlert {
   color: red;
   border: 1px solid red;
   padding: 0px 1px;
   margin: 5px 5px;
 }
.help {
   background-color: #eee;
   color: black;
   text-align: center;
 }


.oddRow { background-color: #ffffff; }
.evenRow { background-color: #e7e7e7; }
.totalsRow {
  font-weight: bold;
  background-color: #ccc;
  font-size: larger;
 }
.r {  text-align: right; }
.c { text-align: center; }
.l { text-align: left; }
.t { vertical-align: top; }
.b { vertical-align: bottom; }

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 110%;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 110%;
  list-style: square;
}

.explain {
  border: 1px solid #8d3127;
  background: white;
  padding: 2px 2px;
  margin: 2px 2px;
  vertical-align: top;
 }

.wideCell {
  width: 50%;
  border: 1px solid gray;
  vertical-align: top;
  padding: 2px 2px;
  margin: 2px 2px;
 }

#loginDiv {
  float: left;
 }

div dt {
  font-weight: bold;
  margin: 2px;
 }

/* show 'spinner' in a DIV that is the right size for the image, so
   layout isn't affected when it is shown/hidden */

.spinner16 {
  height: 18px;
  width: 18px;
  padding: 1px;
  margin: 0;
  display: none;
 }

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 1.5em;
  width: 0%;
}

.loginTable {
  border: 1px solid gray;
 }

.loginTableCell {
  border: 1px solid gray;
  vertical-align: top
}

.customerName {
  display: block;
 }

#customerVoucherList td {
  text-align: center;
}

/* Sales reports */

div.show .showSalesDate {
  width: 15em;
}
div.show .showSalesVoucherType {
  padding-left: 1em;
  width: 20em;
}
div.show .showSalesDateQty {
  width: 5em;
  text-align: right;
  font-weight: bold;
}
div.show .showSalesDatePercent, div.show .showSalesPercent {
  width: 5em;
  text-align: center;
}
div.show .showSalesDateRevenue {
  width: 10em;
  font-weight: bold;
}
div.show .showSalesRevenue {
  width: 10em;
}

/* Options */

table#options_table td.option_name {
  width: 20em;
  vertical-align: top;
  text-align: left;
}
table#options_table td.option_value {
  text-align: left;
}

#pageDiv .showDateSummary {
  margin: 2px;
  background: white;
}

#pageDiv .showDate {
  float: left;
  font-size: larger;
  background-color: #666;
  color: white;
  display: block;
 }

#pageDiv .showDateNav {
  text-align: right;
  background-color: white;
  color: black;
  font-weight: bold;
 }

#pageDiv table.summarySales {
  width: 80%;
  min-width: 400px;
  max-width: 800px;
 }

#pageDiv td.salesCategory {
  width: 85%;
 }
#pageDiv td.salesQty {
  width: 15%;
 }

.wideTable {
  padding: 0;
  margin: 0;
  width: 100%;
 }

table.wideTable > td {
  padding: 0;
  margin: 0;
  vertical-align: top;
 }

.top {
  vertical-align: top;
}

/* Tabular report format */

table.report {
}

.subtitle {
  background-color: #eee;
  font-size: larger;
  height: 1.5em;
  padding: 4px;
  margin: 1em 0 0 0;
  font-weight: bold;
}

/* Report-generation page */

.reportParams {
  border: 1px solid #eee;
  margin-left: 20px;
}

/* Advanced customer report  (SQL builder) page */

#sqlQuery {
  border: 1px solid red;
  padding: 4px;
  margin: 4px 0 2px 0;
  background: #eee;
  color: red;
  font-size: 90%;
}
