<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="stylesheets/venue/default.css" type="text/css" media="screen"/>
  </head>
  <body class="404page">
    <h1> How embarrassing...</h1>
    <p> We can't find the page you're looking for...</p>
    <p> Perhaps you were looking for one of these?</p>

    <ul>
      <li> <a href="/<%= venue %>/store">Buy Tickets</a> </li>
      <li> <a href="/<%= venue %>/subscribe">Subscribe</a> </li>
      <li> <a href="/<%= venue %>/donate">Make a Donation</a> </li>
      <li> <a href="/<%= venue %>/login">Sign in to your account (manage
          reservations and view previous purchases)</a> </li>
    </ul>
   </body>
</html>

