<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/venue/default.css" type="text/css" media="all"/>
    <meta http-equiv="refresh" content="5; url=/<%= venue %>/login"/>
  </head>
  <body class="error">
    <h1>Please login again...</h1>

    <p>Your previous session has expired...please login again.</p>

    <p>The login page will appear momentarily, or you can click
      <a href="/<%= venue %>/login">here</a> to go there immediately.</p>

  </body>
</html>
