<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/<%= venue %>/stylesheets/venue/default.css" type="text/css" media="screen"/>
    <meta http-equiv="refresh" content="10;url=/<%= venue %>/login"/>
  </head>
  <body id="error_page" class="500page">
    <h1>Whoops!</h1>

    <p>An unexpected error occurred. We're sorry! It's nothing you
      did!  The system maintainer has been notified by email.</p>

    <P>(And if you had just clicked the Pay button to buy tickets, 
      you can quickly check your account to see if the
      purchase went through before trying to repeat it, to avoid a 
      duplicate charge.)</p>

    <p>You'll be taken back to the main page in a few seconds, or else you can
      <a href="/<%= venue %>/login">click here</a> to go there now.</p>

  </body>
</html>
