%p
  To import a Brown Paper Tickets file:  Log in to your BPT account, 
  and while viewing a list of your events, click the Sales link in the 
  right-hand column.  When the list appears, select <strong>All Dates</strong>  
  and <strong>Complete</strong> format from the dropdown menus and click 
  View Sales.  At the top of the resulting list, 
  click on <strong>Tab Delimited File</strong> to download an .xls (Excel) file.
  Select that file as the upload target below.  
  (You don't need to manually convert to CSV.)


