%div
  To import a Brown Paper Tickets file:  
  %ol
    %li Log in to your BPT account.
    %li When viewing a list of your events, click the Sales link in the right-hand column.  
    %li When the list appears, select <strong>All Dates</strong> and <strong>Complete</strong> format from the dropdown menus and click View Sales.  
    %li At the top of the resulting list, click on <strong>Tab Delimited File</strong> to download an .xls (Excel) file.
    %li Select that file as the upload target below.  (You don't need to manually convert the file to CSV.)


