%div
  To import a Brown Paper Tickets file:  
  %ol
    %li Log in to your BPT account.
    %li Click <strong>Sales Reports</strong> in left-hand nav bar.  You  may have to click <strong>Older Events</strong> to see older events.
    %li Select the event, make sure <strong>All Dates</strong> is selected in the Select Date menu, then under Reports click <strong>Name List</strong>.
    %li Under Ticket Holders, click <strong>Complete List</strong>
    %li When the list appears, click <strong>Download</strong>.
    %li Select the downloaded file as the upload target below.  (You don't need to manually convert the file to CSV.)


