from ftdock_InputParameters import *
from ftdock_Molecule import *

def main():
    print "Begin..."

    # Instantiate command-line options object
    cmdLine = InputParameters()
    cmdLine.ParseOptions()

    # Instantiate molecule objects
    molecule1 = Molecule()
    molecule2 = Molecule()

    # Input molecular data
    molecule1.ReadPDB(cmdLine.options.pdb_file1)
    molecule2.ReadPDB(cmdLine.options.pdb_file2)

    # Get approximate diameter of each molecule
    diameter1 = molecule1.GetDiameter()
    diameter2 = molecule2.GetDiameter()

    # Find geometric center of each molecule
    (xc1, yc1, zc1) = molecule1.GetGeometricCenter()
    (xc2, yc2, zc2) = molecule2.GetGeometricCenter()

    # Center molecules in grid
    size_cushion = 5.0
    grid_size = diameter1 + diameter2 + size_cushion
    grid_dimension = grid_size / cmdLine.options.grid_resolution
    grid_center = grid_size / 2.0

    tvec_i = xc1 - grid_center
    tvec_j = yc1 - grid_center
    tvec_k = zc1 - grid_center
    molecule1.TranslateMolecule(tvec_i, tvec_j, tvec_k)
    
    tvec_i = xc2 - grid_center
    tvec_j = yc2 - grid_center
    tvec_k = zc2 - grid_center
    molecule2.TranslateMolecule(tvec_i, tvec_j, tvec_k)

    # Test quaternion rotation


    molecule1.WritePDB('out_test1.pdb')   # hag: Debug, check resulting geometry
    molecule2.WritePDB('out_test2.pdb')   # hag: Debug, check resulting geometry


    # Initialize grids
# hag: Debug, don't forget to convert grid dimensions to integer


    print "End..."


if __name__ == "__main__":
    main()
To import a customer list... 

download the template here
