%div
  %strong WARNING:
  %p 
    Importing customer lists is intended to support a one-time historical 
    import of your old data.
  %p
    It
    %strong should not
    be used for repeated imports of new data that may duplicate data already in
    Audience1st.  Doing so may result in excessive duplicates that must be 
    removed manually, which if improperly done can break associations between
    customers and their purchases/donations.
  %p  To import a customer list:
  %ul
    %li 
      Download
      = link_to 'this CSV template', template_path('customer_list.csv')
      (you may have to right-click on the link and select "Save File")
      and copy and paste your data into its format.  
    %li Save the result as a "CSV for Windows" file.
    %li Select that file as the file to upload below.

