%div
  To import a customer list:
  %ul
    %li 
      Download
      = link_to 'this CSV template', template_path('customer_list.csv')
      (you may have to right-click on the link and select "Save File")
      and copy and paste your data into its format.  
    %li Save the result as a "CSV for Windows" file.
    %li Select that file as the file to upload below.

