%div
  To import a Goldstar will-call list for one performance:
  %ol
    %li Log in to your Goldstar account.
    %li Go to Supplier Center, then Will-Calls, and locate the desired will-call list.
    %li Download the XML version of the list (very important).
    %li Select the downloaded file as the upload target below.
    %li 
      <strong>NOTE:</strong> Voucher names corresponding to all Goldstar price points must 
      <strong>begin with</strong> 'Goldstar'.
