%div
  To import a Goldstar list for a single performance:
  %ol
    %li From the Goldstar will-call email, save the .csv format file on your computer.
    %li 
      <strong>IMPORTANT.</strong>  Select an <strong>existing</strong> show 
      and date below. The "Create new show named..." option does <strong>not</strong> 
      work with Goldstar lists!  If either the show or show date isn't listed, you
      must create it first and then come back here to do the import.
    %li
      <strong>IMPORTANT.</strong>  The list can include at most two types of tickets:
      Goldstar comps and Goldstar half-price.  
      %ul
        %li 
          The voucher type representing half-price sales <strong>must</strong> have
          a price greater than zero and include "Goldstar" in its name
        %li 
          The voucher type representing Goldstar comps <strong>must</strong> be defined 
          as a zero-cost (comp) vouchertype and include "Goldstar" in its name
    %li Select the CSV file for upload, and then click Preview Import to continue.
