%p
  To import from Tix Bay Area: Log in to your TBA account.  Click on
  <strong>Report for the run of a show</strong>.  Select the desired
  show, and 
  <strong>check all of the checkboxes</strong>
  for what to include in the report; then click Run the Report.  When
  the report appears, at the top of the screen click <strong>Save Report
  as DBF File</strong>.  This DBF file is the file you should select for
  upload below.
