%table.hilite
  %thead
    %tr
      %th Type of import
      %th Uploaded file name
      %th File Size
      %th Completed by
      %th 
  %tbody
    = render :partial => 'import', :collection => @imports

= gen_button 'New Import...', :action => :new
