%table#imports_list.hilite
  %thead
    %tr
      %th Type of import
      %th Show
      %th Uploaded file name
      %th Size
      %th Completed?
      %th # Records
  %tbody
    = render :partial => 'import', :collection => @imports

= link_to 'New Import...', new_import_path, :class => 'btn btn-primary'

