%table#imports_list.hilite
  %thead
    %tr
      %th Type of import
      %th Show
      %th Uploaded file name
      %th Size
      %th Completed?
      %th # Records
  %tbody
    = render :partial => 'import', :collection => @imports

= gen_button 'New Import...', :action => :new
