- if group.cancelable_by(current_user)
  - form_tag cancel_multiple_customer_vouchers_path(@customer) do
    = hidden_field_tag 'voucher_ids', group.voucherlist
    = submit_tag 'Click to Cancel', :disable_with => 'Cancelling...', :style => "width: 15ex"
