%fieldset#company_info
  %legend Company Information
  %label{:for=>:customer_company} Name
  =text_field 'customer', 'company'
  %br/
  %label{:for=>:customer_title} Position/Title
  =text_field 'customer', 'title'
  %br/
  %label{:for=>:customer_company_url} Website
  =text_field 'customer', 'company_url', :size => 25
  %br/
  
  %label{:for=>:customer_company_address_line_1} Address 1
  =text_field 'customer', 'company_address_line_1'
  %br/
  %label{:for=>:customer_street} Address 2
  =text_field 'customer', 'company_address_line_2'
  %br/
  %label{:for=>:customer_company_city} City
  =text_field 'customer', 'company_city', :size => 16, :maxlength => 32
  %label{:for=>:customer_company_state} State
  =text_field 'customer', 'company_state', {:size => 2, :maxlength => 2}
  %label{:for=>:customer_company_zip} Zip
  =text_field 'customer', 'company_zip', {:size => 10, :maxlength => 10}
  %br/
  
%label{:for=>:customer_cell_phone} Cell phone
=text_field 'customer', 'work_fax', :size => 16, :maxlength => 16  
%br/
%label{:for=>:customer_work_phone} Work phone
=text_field 'customer', 'work_phone', :size => 16, :maxlength => 16  
%br/
%label{:for=>:customer_work_fax} Work fax
=text_field 'customer', 'work_fax', :size => 16, :maxlength => 16  
%br/

%label{:for=>:customer_best_way_to_contact} Best Way to Contact
=text_area 'customer', 'best_way_to_contact', {:cols => 50, :rows => 2}
%br/

/[eoform:customer]
