= render :partial => 'customers/customer', :locals => {:customer => customer_with_errors}
- if !customer_with_errors.errors.empty?
  %tr{:class => 'invalid'}
    %td
    %td
    %td{:colspan => 8}= errors_as_html(customer_with_errors)
