= error_messages_for :customer
- @customer = customer if @customer.nil? 
- disabled =  defined?(passive) && passive 

/[form:customer]
#customerContact
  %table
    %tr
      %td
        %label{:for=>:customer_first_name} First name
        %br/
        =text_field 'customer', 'first_name', :size => 16, :max_length => 40, :id => 'customer_first_name', :readonly => disabled
      %td{:colspan=>2}
        %label{:for=>:customer_last_name} Last name
        %br/
        =text_field 'customer', 'last_name', :size => 16, :max_length => 40,:id => 'customer_last_name', :readonly => disabled 
    %span#addressInfo
      %tr
        %td{:colspan=>3}
          %label{:for=>:customer_street} Street (Credit card billing address)
          %br/
          =text_field 'customer', 'street', :readonly => disabled  
      %tr
        %td
          %label{:for=>:customer_city} City
          %br/
          =text_field 'customer', 'city', :size => 16, :max_length => 32, :readonly => disabled
        %td 
          %label{:for=>:customer_state} State
          %br/
          =text_field 'customer', 'state', {:size => 2, :max_length => 2, :readonly => disabled}
        %td 
          %label{:for=>:customer_zip} Zip
          %br/
          =text_field 'customer', 'zip', {:size => 10, :max_length => 10, :readonly => disabled}
    %tr 
      %td
        %label{:for=>:customer_day_phone} Day phone
        %br/
        =text_field 'customer', 'day_phone', {:size => 16, :max_length => 16, :readonly => disabled}
      %td{:colspan=>2}
        %label{:for=>:customer_eve_phone} Eve. phone
        %br/
        =text_field 'customer', 'eve_phone',{:size => 16, :max_length => 16, :readonly => disabled}
    %tr 
      %td{:colspan=>3}
        %label{:for=>:customer_login} Email
        %br/
        =text_field 'customer', 'login', {:size => 20, :max_length => 40, :readonly => disabled }
    %tr
      %td{:colspan=>3}
        =check_box 'customer', 'e_blacklist'
        %label{:for=>:customer_e_blacklist} 
          Please don't send me email about upcoming shows & events.
          %br/
          (We never share our email list with anyone.)

/[eoform:customer]

