/ Extra params settable only by admin

%fieldset#admin_form
  %legend Administrator Preferences
  %p
    %label{:for => :customer_last_login} Last login
    %span= last_login_for @customer

  - if @superadmin
    %p
      %label{:for=>:customer_role} Role
      =select('customer', 'role',  roles_with_names, {:selected => @customer.role_name })
      %br/ 

  %label{:for=>:customer_labels} Labels
  = render :partial => 'labels'

  %label{:for=>:customer_comments} Staff Comments <br />(not seen by customer):
  =text_area :customer, :comments, :cols => 60, :rows => 5
  %br/

  =check_box_tag 'dont_send_email', '1', true
  %label{:for=>:dont_send_email}  
    %span.strong Do not
    email customer a confirmation of these changes

  %p=button_tag "Extra Contact Info...", :id => 'extra'
  = javascript_tag %q{$('#extra').click(function() { $("#contact").slideToggle()' }) }

  #contact{:style => "display: none;"}
    = render :partial => 'contact', :locals => {:customer => @customer}
