#customer_labels
  #current_labels
    = in_rows_of(4, Label.all_labels) do |l|
      - checkbox_for_label(l, @customer.labels.include?(l))
  %label &nbsp;
  %p
    = link_to 'Create new label names...', labels_path, :class => 'genButton'
    = popup_help_for 'customer_labels'
