%h3 Link your existing account?

%p 
  If you've previously logged into this site using your email and password,
  enter them here to link to your existing contact info and
  purchase history:

- form_tag :controller => 'customers', :action => 'link_existing_account' do
  %fieldset#email_and_password
    %legend Existing Email and Password
    %label{:for => :customer_email} Email
    = text_field_tag 'email', nil, :size => 20
    %br
    %label{:for => :customer_password} Password
    = password_field_tag 'password', nil, :size => 20
    = link_to 'Forgot your password?', :controller => :customers, :action => :forgot_password, :redirect_to => url_for(:controller => 'customers', :action => 'edit', :id => @customer)
    %br
    = submit_tag 'Link Account'

