%fieldset#login_info
  %legend Password
  %p Please choose a password so you can track your ticket purchases online.
  %label{:for=>:password}= defined?(newpassword) ? 'New Password' : 'Password'
  = password_field_tag 'password', :size => 20
  %br
  %label{:for=>:password_confirmation}= defined?(newpassword) ? 'Confirm New Password' : 'Confirm Password'
  = password_field_tag 'password_confirmation', :size => 20