%p 
  Click Customer Name to Select, or 
  %a.lbAction{:rel => :deactivate} Cancel

%table.hilite
  %thead
    %tr
      - %w[first_name last_name street city email].each do |f|
      %th= ActiveSupport::Inflector.humanize(f)
      - end
  %tbody
    - @customers.each do |c|
      %tr
        %td= c.first_name
        %td= c.last_name
        - %w[street city email].each do |f|
          %td= c.send(f)


    
