%fieldset#secret_question
  %legend Secret Question
  %p Please choose a question to answer in case you forget your password:
  %label{:for => :customer_secret_question} Question:
  = select 'customer', 'secret_question', secret_question_select(customer)
  %br
  %label{:for => :customer_secret_answer} Answer:
  = text_field 'customer', 'secret_answer', :size => 40, :max => 40
