- is_boxoffice = nil unless defined?(is_boxoffice)
%tr
  - if @admin.is_boxoffice
    %th.admin Tkt #
    %th.admin Ord #
  %th Type
  %th Reservation
  - if @admin.is_boxoffice
    %th.admin Admin
    %th.admin Comment
