%h1 Forgot Your Password?

%ol
  %li Enter the email address you've registered with us below.
  %li Click "Reset My Password" and we'll email you a new password within 1 minute.
  %li Or if you're having trouble receiving our emails, if you've registered a secret question and answer, click "Answer My Secret Question".

#forgot_password
  - form_tag :controller => :customers, :action => :forgot_password do
    %label{:for => :customer_email} Email
    = text_field_tag 'email', '', :size => 20
    = submit_tag 'Reset My Password By Email'
    = submit_tag 'Answer My Secret Question'
    = link_to 'Cancel', :back, {:class => 'genButton'}

