%h1 Forgot Your Password?

%p
  Enter the email address you've registered with us and we'll email you
  a new password within 1 minute.

#forgot_password
  - form_tag :controller => :customers, :action => :forgot_password do
    %label{:for => :customer_email} Email
    = text_field_tag 'email', '', :size => 20
    = submit_tag 'Reset My Password'
    = link_to 'Cancel', :back, {:class => 'genButton'}
