/ = render :partial => 'store/store_banner', :locals => {:subscriber => true }

= error_messages_for :customer

.pageDiv
  %h1 Reserve Regular Season Show Seats
  %table#SubscriptionReservations
    %tr
      %th Show
      %th Your Reservation
      %th Actions
    = render :partial => 'subscriber_voucher', :collection => @subscriber_vouchers.sort_by(&:vouchertype_id)

.pageDiv#additionalTickets
  %h1 Purchased Tickets
  - unless @other_vouchers.empty?
    %table#customerVoucherList
      %thead
        %tr.tableHeading
          - if @admin.is_boxoffice
            %th.adminField{:style => 'color: #555'} Tkt #
          %th Ticket Type
          %th How Acquired
          %th Redeemed For
          %th Actions
          - if @admin.is_boxoffice
            %th.adminField{:style => 'color: #555'} Admin
            %th.adminField{:style => 'color: #555'} Comment
      %tbody
        = render :partial => "voucher", :collection => @other_vouchers.sort_by  {|v| v.showdate_id.zero? ? -1.0e15 : -(v.showdate.thedate.to_i)}, :locals => {:is_boxoffice => @admin.is_boxoffice, :is_boxoffice_manager => @admin.is_boxoffice_manager, :is_subscriber => @subscriber, :customer => @customer }
  = button_to 'Buy Additional Tickets...', {:controller => 'store', :action => 'index'}, {:method => :get}
