%tr
  %td= h external_ticket_order.customer.full_name
  %td= h external_ticket_order.showdate.printable_name
  %td.r= h external_ticket_order.vouchertype.name_with_price
  %td= h external_ticket_order.comments
  
