<h2>Editing
  <%= @showdate.printable_name %>
  </h2>

<% form_tag show_showdate_path(@show,@showdate), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Save Changes' %>
<% end %>

