<% for column in Showdate.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @showdate.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @showdate %> |
<%= link_to 'Back', :action => 'list' %>
