%div[donation]
  - if donation.letter_sent
    = "#{donation.letter_sent.strftime('%D')} by #{Customer.find(donation.processed_by_id).first_name rescue '(???)'}"
  - else
    = link_to "Mark Sent", donation_path(donation), 'data-remote' => true, 'data-method' => :put, 'data-type' => 'script'
