<%
format = '-m -i --require features --format pretty --format rerun --out rerun.txt --color'
%>
autotest: <%= format %> --tags @wip 
default: <%= format %> --tags 'not @wip'
javascript: <%= format %> --tags @javascript
passing:  <%= format %> --tags 'not @wip'
cur:  --tags @cur <%= format %>
