= f.error_messages 
%fieldset
  %legend Donation Fund
  %label{:for => 'donation_fund_name'} Name
  = f.text_field 'name', :size => 20
  %br
  %label{:for => 'donation_fund_account_code'} Account Code
  = f.text_field 'account_code', :size => 6
  %br
  %label{:for => 'donation_fund_description'} Brief Description
  = f.text_field 'description', :size => 40
  %br

