<h1>Editing donation_fund</h1>

<% form_for(@donation_fund) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @donation_fund %> |
<%= link_to 'Back', donation_funds_path %>