<h1>Listing donation_funds</h1>

<table>
  <tr>
  </tr>

<% @donation_funds.each do |donation_fund| %>
  <tr>
    <td><%= link_to 'Show', donation_fund %></td>
    <td><%= link_to 'Edit', edit_donation_fund_path(donation_fund) %></td>
    <td><%= link_to 'Destroy', donation_fund, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New donation_fund', new_donation_fund_path %>