%h1 Listing donation funds (click name to edit)

%table
  %tr
    %th Name
    %th Description
    %th Acc Code
  - @donation_funds.each do |donation_fund|
    %tr
      %td= link_to donation_fund.name, edit_donation_fund_path(donation_fund)
      %td= h(donation_fund.description)
      %td= h(donation_fund.account_code)

%br

= gen_button 'Add New Donation Fund', new_donation_fund_path 
