.pageDiv
  %h1 Accounting Reports

  - form_tag({:action => 'do_report'}, {:method => :get}) do
    %p
      = select_tag 'rep', options_for_select(["Transaction details", "Categorized Revenue", "Invoice"])
      from
      = select_date Date.today, :prefix => 'from', :discard_hour => true 
      to
      = select_date Date.today, :prefix => 'to', :discard_hour => true 
      = submit_tag 'Go' 

