%table{:width=>'100%'}
  - vouchers.each_pair do |vt,v|
    %tr
      %td{:width=>'70%'}= vt.name
      %td{:width=>'10%',:align=>:right}= v.size
      %td{:width=>'10%',:align=>:right}= number_to_currency(vt.price * v.size)
      %td
