%table.showSalesDetail
  - vouchers.each_pair do |vt,v|
    %tr
      %td.showSalesVoucherType= vt.name
      %td.showSalesQty= v.size
      %td.currency.showSalesRevenue= number_to_currency(vt.price * v.size)
      %td
