%table.hilite.showSalesDetail
  - vouchers.each_pair do |vt,v|
    %tr
      %td.showSalesVoucherType= vt.name
      %td.showSalesQty= v.size
      %td.currency.showSalesRevenue= number_to_currency(vt.price * v.size)
      %td
  %tr
    %td.strong{:colspan => 2} Nonsubscription revenue per seat
    %td.currency= number_to_currency revenue_per_seat
    %td

