%table
  -total = tprice = 0
  -buckets.each_pair do |vtype,ntix|
  %tr
    %td=h vtype.name
    %td=h ntix
    %td=sprintf("%.02f",p=vtype.price)
    %td=sprintf("%.02f",p*ntix)
  -total += ntix
  -tprice += (p*ntix)
  -end
  %tr
    %td= "TOTAL #{label}"
    %td= total
    %td
    %td= sprintf("%.02f", tprice)
