#change_showdate.clear
  %h1.floatleft= h(@showdate.printable_name)
  .floatleft.h1= link_to_function 'Change', |
    'jQuery("#select_show").slideToggle(),  |
    {:class => 'genButton'}                 |
  .clear

  #select_show{:style => "display: none;"}
    %label{:for=>:showdate_thedate} Show and Date:
    = select_tag 'new_showdate', |
     options_for_select(@showdates.map { |sd| [sd.name_and_date_with_capacity_stats, walkup_sales_path(sd)] }, |
     walkup_sales_path(@showdate)), |
     :onchange => 'window.location = $("new_showdate").value' |
    %label

