.pageDiv
  %h1 
    Walkup Sales Summary for
    =@showdate.printable_name
  %p{:style => "font-weight: bold"} Credit Card Sales
  =render :partial => 'walkup_transaction', :locals => {:buckets => @cc_tix_types, :label => 'Credit'}
  %p{:style => "font-weight: bold"} Cash Sales
  =render :partial => 'walkup_transaction', :locals => {:buckets => @cash_tix_types, :label => 'Cash'}
