.pageDiv
  %h1  Walkup Sales Summary 
  %table.hilite
    %tr
      %td.strong{:colspan => 4} Credit Card Sales
    = render :partial => 'walkup_transaction', |
      :locals => {:buckets => @cc_tix_types, :label => 'Credit'} |
    %tr
      %td.strong{:colspan => 4} Check Sales
    = render :partial => 'walkup_transaction', |
      :locals => {:buckets => @chk_tix_types, :label => 'Check'} |
    %tr
      %td.strong{:colspan => 4} Cash Sales
      = render :partial => 'walkup_transaction', |
      :locals => {:buckets => @cash_tix_types, :label => 'Cash'} |
    %tr
      %td.strong{:colspan => 4} Comps
      = render :partial => 'walkup_transaction', |
      :locals => {:buckets => @comp_tix_types, :label => 'Comp'} |
      
