<div class="a1-email-footer">
  <p>
  Please DO NOT REPLY to this email...it was generated automatically
  and was sent from an unmonitored email address.
  </p>
  <p>
    If you have questions about the above, or are experiencing problems
    using our site, <%= @contact -%>.
  </p>
  
  <p>Thank you for your patronage!</p>

  <p class="a1-powered-by">
    <span class="a1-venue-name"><%= @venue %></span>
    Powered by Audience1st
  </p>
</div>

