%table
  %tr
    %td
      Find patrons who purchased <strong>ANY</strong> <br/>of these vouchers:
    %td
      (Optional) But <strong>NONE</strong> of these:
  %tr
    %td= select_tag 'have_vouchertypes[]', options_from_collection_for_select(@args[:have_vouchertypes], :id, :name), :multiple => true
    %td= select_tag 'dont_have_vouchertypes[]', options_from_collection_for_select(@args[:dont_have_vouchertypes], :id, :name), :multiple => true
    

