%p
  List customers who were <strong>added</strong> to the database
  = select_date_shortcuts 2007, 'newFrom', 'newTo'
  %br
  Custom dates:
  = select_date Date.today, :prefix => 'newFrom', :start_year => 2007
  and
  = select_date Date.today, :prefix => 'newTo', :start_year => 2007
// %p
//  When multiple accounts have the same email address
//  but different (nonblank) mailing addresses:
//  %br
//  = radio_button_tag 'dups', 'keep_all'
//  Include all of them
//  %br
//  = radio_button_tag 'dups', 'most_recent', true
//  Include only the most recent one
