%p
  %label{:for => :vendor} Vendor:
  = f.select :vendor, options_for_select(BulkDownload.vendors, (bulk_download.vendor if bulk_download))

%p
  %label{:for => :username} Username:
  = f.text_field :username
  = popup_help_for :bulk_download_login

%p
  %label{:for => :password} Password:
  = f.text_field :password

