%h1 Bulk Download

%p
  This is an experimental feature that will attempt to download multiple
  will-call lists from a single vendor at one time, and set up each one as 
  a new import.

%p
  This feature only downloads the lists; you must then preview and approve 
  each list to finalize the import of that list.

= form_for :bulk_download, :url => bulk_downloads_path do |f|
  = render :partial => 'bulk_download', :locals => {:f => f}
  = f.submit "Find Sales Reports"
