- count = 0
- k = cols.to_s.tableize
%table
  - cols.send(:content_columns).each do |col|
    - if (count % width).zero?
      %tr
    - c = col.name
    %td= check_box_tag "select[#{k}][#{c}]", 1, @custom_report.uses_field?(c)
    %td= h(col.human_name)
    - count += 1
