/* in testing or sandbox mode, body should look different */

body.maintenance {
    border: 8px dashed yellow;
}

.enterCVV {
  padding: 2px;
  background-color: red;
}

.customer-vouchers-table {
    width: 90%;
    border-collapse: collapse;
}

/* Additional field qualifiers for errors etc */

.validationError {
  color: red;
 }

.highlighted {
  background-color: #9f9;
}

.fieldWithErrors {
  padding: 2px;
  color: white;
  background-color: red;
  display: table;
}

.disabledField {
	background-color: #e6e6e6;
	border: none;
	color: #000;
	font-weight: bold;
}
x
/***********************************************************************
 * Styles below this point are never seen by regular customers
 **********************************************************************/

.a1-text-large {
    font-size: 1.5rem;
}
.a1-text-medium {
    font-size: 1.25rem;
}

/* General tabular styles */
/* tables still need 'cellspacing="0"' in the markup */
table {
        border-collapse: separate;
        border-spacing: 0;
        border: 0;
	margin-bottom: 10px;
	margin-top: 4px;
}
thead {
  background-color: #EEE;
  color: black;
}
th {
  margin: 0;
  padding: 3px;
  font-weight: bold;
  text-align: center;
  background: #333;
  color: #fff;
}
td {
  padding: 1px 2px;
}

table {
    font-size: 12pt;
}
/* easier to navigate if tabular rows hilited on hover */
table.hilite tr:hover {
	background-color: #fcfe69;
}

.admin {
  background-color: #eff19e;
  color: black; }

.adminDiv {
  background-color: #eff19e;
  display: block; }

.adminField {
    width: 100%;
    display: inline-block;
  font-family: PT Sans, sans-serif;
  clear: both;
  padding: 2px 10px;
  background-color: #eff19e;
  color: black; }



/*
 * Popup-help styles (http://psacake.com/web/jl.asp)
 */

a.a1tooltip {outline:none; font-size: 1rem; }
a.a1tooltip strong {line-height:30px;}
a.a1tooltip:hover {text-decoration:none;} 
a.a1tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:300px; line-height:16px;
}
a.a1tooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
    
/* Pagination of customer list */
.pagination {
    width: auto;
  margin: 0 auto; /* centered */
  display: block;
  /* self-clearing method: */ }
  .pagination form {
     float: left;
   }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .pagination a:hover, .pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child + html .pagination {
    overflow: hidden; }


/* for truncated strings that display whole string  */
a.tooltip span
{
    border-radius:4px;
    font-size: small !important; 
    box-shadow: 5px 5px 8px #CCC;
}


/* Styling of the popup help */
.popupHelpLink {
	background-color: #fcfe17;
	font-size: smaller;
        display: inline;
	color: #1c05fd;
	padding: 2px;
}


span.tooltip {
    position:relative; /*this is the key*/
    z-index:24; 
    }

span.tooltip:hover{
	z-index:25; 
	background-color:#ff0
	}

span.tooltip span{
	display: none  
}
span.tooltip:hover span { /* will display just on :hover state*/
    display:block;
    position:absolute;
    top: 0;
    left: 0;
    width: inherit;
    background-color:#cff; 
    color:#000;
}

/* Flippy triangles */
.flippy, .flippy:hover, .flippy:visited {
    text-decoration: none;
}

/* Inline form buttons */
.inline {
   display: inline;
}

/* Printable receipts */
/* plain style for receipts */
body#receipt {
  background: none;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  border: 2px solid black;
  padding: 0.5em;
  margin: 0.5em;
  font-size: larger; }
  body#receipt * {
    color: black;
    background: none; }

/* Make autocomplete menu not be infinitely long */
.ui-autocomplete {
  max-height: 50ex;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
  height: 50ex;
}

.customer_label {
    font-size: 90%;
    background-color: MintCream;
    margin: 1px;
    padding: 1px;
}

tr.staff {
    font-style: italic;
}
tr.invalid {
    color: red;
}
tr.subscriber {
    background-color: #9f9;
}
/*
 * General utility styles
 */
.totalsRow {
  font-weight: bold;
  background-color: #ccc;
  font-size: larger;
 }


/* 
 * Edit shows and showdates
 */

.show_name {
	font-style: italic;
}
table.showdates_summary {
	border-style: solid;
	border-color: #000;
	background-color: #e6e6e6;
	line-height: normal;
	padding-left: 20px;
}
table.showdates_summary th {
	background-color: #e6e6e6;
	color: #4c4c4c;
	text-align: center;
}
table.showdates_summary td {
	padding-right: 5px;
	padding-left: 5px;
}

/*
 * Credit card payment error message
 */
#payment_errors {
	background-color: red;
	color: white;
	font-size: larger;
	font-weight: bold;
	padding: 0 2em;
}

/*
 * Online check-in
 */
table#checkin {
	border: 1px solid grey;
}
table#checkin tr {
	line-height: 1.2;
}
table#checkin td.checkin_column {
	width: 8em;
}
table#checkin td {
	border-bottom: 1px solid #ddd;
	vertical-align: middle;
}
span.un_check_in {
}
span.checkin_button {
  text-align: center;
  font-family: "Lucida Sans Typewriter", "Andale Mono", "Courier", "Courier New", fixed;
  margin: 0;
  padding: 2px;
}
span.checkin_button:hover, span.checked_in {
  background-color: yellow;
}

/*
 * Reports
 */

/* Advance sales reports */



div.show .showSalesDate {
  width: 15em;
}
div.show .showSalesVoucherType {
  padding-left: 1em;
  width: 20em;
}
div.show .showSalesDateQty {
  width: 5em;
  text-align: right;
  font-weight: bold;
}
div.show .showSalesDatePercent, div.show .showSalesPercent {
  width: 5em;
  text-align: center;
}
div.show .showSalesDateRevenue {
  width: 10em;
  font-weight: bold;
}
div.show .showSalesRevenue {
  width: 10em;
}

/* output options for customer lists */

#report_body ul	 {
	list-style: disc;
}

#output_options p {
	margin-left: 2ex;
	margin: 4px;
}

#output_options p.fieldgroup {
	padding-top: 4px;
	padding-bottom: 4px;
	margin-top: 2px;
	margin-bottom: 2px;
	font-weight: bold;
	margin-left: 0;
}


/*
 * Door list
 */

#door_list {
    background-color: white;
}
#door_list table {
    width: 100%;
}
#door_list table, #door_list th, #door_list td {
    font-size: 1.5rem;
    border: 1px solid black;
    border-collapse: collapse;
}

/* Index letter column (style applies to TD) */
#door_list .maincolumn {
  border: none;
  background-color: white;
  font-size: large;
  font-weight: bold;
}
@media screen {  #door_list .maincolumn {  color: red;     } }

/* Subscribers are hilited on door list on screen, but bolded in print */
@media screen {  #door_list .subscriber {  background-color: #9f9;  } }
@media print  {  #door_list .subscriber {  font-style: italic;  } }

/* Don't underline links in printed door list */
@media print { #door_list a { text-decoration: none; color: black; } }
