/* in testing or sandbox mode, body should look different */

html {
    font-size: smaller;
}
body.maintenance {
    border: 8px dashed yellow;
}

#content.plain {
    background-color: white;
}

#footer {
    text-align: center;
}

/* prevent Webkit-based browsers from showing 'spinner' arrows on number fields */
input[type=number].a1-no-spinner::-webkit-inner-spin-button, 
input[type=number].a1-no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none; 
    margin: 0; 
}

.a1-date {
    min-width: 8em !important;
}
.a1-amount {
    min-width: 5em !important;
}

.a1-force-fullwidth {
    width: 100% !important;
}

.a1-passive-text-input {
    resize: none;
    box-shadow: none;
    border: none;
    text-align: center;
    outline-width: 0;
    background-color: inherit;
}

.a1-table {
/* General tabular styles */
/* tables still need 'cellspacing="0"' in the markup */
    width: 100%;
    border-collapse: collapse;
/*    font-size: 12pt;*/
    border-spacing: 0;
    border: 0;
    margin-bottom: 10px;
    margin-top: 4px;
}

/* easier to navigate if tabular rows hilited on hover */
table.hilite tr:hover {
    background-color: #fcfe69;
}
.a1-table thead {
    background-color: #EEE;
    color: black;
}
.a1-table th {
    margin: 0;
    padding: 3px;
    font-weight: bold;
    text-align: center;
    background: #333;
    color: #fff;
}
.a1-table td {
    vertical-align: top;
    padding: 1px 2px;
}
/*
 * Styles used by online check-in table only
 */
table#checkin td.maincolumn {
    vertical-align: middle;
}
table#checkin td {
    border-top: 1px solid black;
}

/* Countdown timer for order completion */
.timer {
    text-align: center;
}
span#timer {
    font-weight: bold;
    font-family: "Lucida Console", Monaco, monospace;
}



/* Additional field qualifiers for errors etc */

.validationError {
    color: red;
}

.highlighted {
    background-color: #9f9;
}

.fieldWithErrors {
    padding: 2px;
    color: white;
    background-color: red;
    display: table;
}

.disabledField {
    background-color: #e6e6e6;
    border: none;
    color: #000;
    font-weight: bold;
}


/***********************************************************************
 * Styles below this point are never seen by regular customers
 **********************************************************************/

.a1-text-large {
    font-size: 1.5rem;
}
.a1-text-medium {
    font-size: 1.25rem;
}
.a1-text-small {
    font-size: 0.8em;
}


.admin {
    background-color: #eff19e;
    color: black;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
}

/*
 * Popup-help styles
 */

@media screen and (max-width: 768px) {

    a.a1tooltip {
        background-image: radial-gradient(#d0dce8,#5b7ca3);
        border-color: white;
        border-radius: 1rem;
        border-type: ridge;
        color: white;
        display: inline-block;
        font-weight: bold;
        height: 2rem;
        padding-top: 0.2rem;
        width: 2rem;

    } 
    span.a1tooltip {
        text-align: left;
        font-weight: normal;
        display: inline;
        position: fixed;
        top: 2ex; left: 0;
        width: 90%;
        padding: 10px;
        margin: 0;
        line-height: 1.1rem;
        color: white;
        border:1px solid #DCA;
        background: #111;
        border-radius: 1rem;
    }
    span.a1hidden { visibility: hidden; }
    span.a1tooltip::after {
        color: grey;
        font-style: italic;
        content: "(Tap to dismiss)";
    }
}
@media not (max-width: 768px) {
a.a1tooltip {
    background-image: radial-gradient(#d0dce8,#5b7ca3);
    height: 1.2rem;
    width: 1.2rem;
    display: inline-block;
    color: white;
    border-color: white;
    border-radius: 1rem;
    border-type: ridge;
}

a.a1tooltip:hover {text-decoration:none;} 
span.a1tooltip,
a.a1tooltip span {
    z-index:10;
    display:none;
    padding: 1rem;
    margin-top:-30px;
    margin-left:28px;
    width:300px;
    line-height:16px;
}

/*
a.a1tooltip:hover span{
    display:inline;
    position:absolute; 
    color:#111;
    border:1px solid #DCA;
    background:#fffAF0;
}
*/
/*
a.a1tooltip:hover span{
    display:inline;
    position: fixed;
    left: 10%; top: 10%;
    color:#111;
    border:1px solid #DCA;
    background:#fffAF0;
}
*/
}

/* Pagination of customer list */
.pagination-container {
    text-align: center;
    padding-bottom: 1ex;
}

.pagination {
    width: 95%;
    margin: 0 auto; /* centered */
    display: block;
}
.pagination form {
    float: left;
}
.pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
.pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
.pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
.pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
.pagination a:hover, .pagination a:focus {
    color: #000033;
    border-color: #000033; }
.pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
.pagination .page_info b {
    color: #000033;
    background: #6aa6ed;
    padding: 0.1em 0.25em; }
.pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
* html .pagination {
    height: 1%; }
*:first-child + html .pagination {
    overflow: hidden; }


/* for truncated strings that display whole string  */
a.tooltip span
{
    border-radius:4px;
    font-size: small !important; 
    box-shadow: 5px 5px 8px #CCC;
}


/* Styling of the popup help */
.popupHelpLink {
    background-color: #fcfe17;
    font-size: smaller;
    display: inline;
    color: #1c05fd;
    padding: 2px;
}


span.tooltip {
    position:relative; /*this is the key*/
    z-index:24; 
}

span.tooltip:hover{
    z-index:25; 
    background-color:#ff0
}

span.tooltip span{
    display: none  
}
span.tooltip:hover span { /* will display just on :hover state*/
    display:block;
    position:absolute;
    top: 0;
    left: 0;
    width: inherit;
    background-color:#cff; 
    color:#000;
}

/* Flippy triangles */
.flippy, .flippy:hover, .flippy:visited {
    text-decoration: none;
}

/* Inline form buttons */
.inline {
    display: inline;
}

/* Printable receipts */
/* plain style for receipts */
body#receipt {
    background: none;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
    border: 2px solid black;
    padding: 0.5em;
    margin: 0.5em;
    font-size: larger; }
body#receipt * {
    color: black;
    background: none; }

/* Make autocomplete menu not be infinitely long */
.ui-autocomplete {
    max-height: 50ex;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 50ex;
}

.customer_label {
    font-size: 90%;
    background-color: MintCream;
    margin: 1px;
    padding: 1px;
}

tr.staff {
    font-style: italic;
}
tr.invalid {
    color: red;
}
tr.subscriber {
    background-color: #9f9;
}

/*
 * Credit card payment error message
 */
#payment_errors {
    background-color: red;
    color: white;
    font-size: larger;
    font-weight: bold;
    padding: 0 2em;
}

span.checkin_button {
    text-align: center;
    font-family: "Lucida Sans Typewriter", "Andale Mono", "Courier", "Courier New", fixed;
    margin: 0;
    padding: 2px;
}
span.checkin_button:hover, span.checked_in {
    background-color: yellow;
}

/*
 * Reports
 */

/* output options for customer lists */

#report_body ul	 {
    list-style: disc;
}

#output_options p {
    margin-left: 2ex;
    margin: 4px;
}

#output_options p.fieldgroup {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: bold;
    margin-left: 0;
}


/*
 * Door list
 */

#door_list {
    background-color: white;
}
#door_list table {
    width: 100%;
}
#door_list table, #door_list th, #door_list td {
    font-size: 1.5rem;
    border: 1px solid black;
    border-collapse: collapse;
}

/* Index letter column (style applies to TD) */
#door_list .maincolumn {
    border: none;
    background-color: white;
    font-size: large;
    font-weight: bold;
}
@media screen {  #door_list .maincolumn {  color: red;     } }

/* Subscribers are hilited on door list on screen, but bolded in print */
@media screen {  #door_list .subscriber {  background-color: #9f9;  } }
@media print  {  #door_list .subscriber {  font-style: italic;  } }

/* Don't underline links in printed door list */
@media print { #door_list a { text-decoration: none; color: black; } }
