/* in testing or sandbox mode, body should look different */

body.maintenance {
    border: 8px dashed yellow;
}

.enterCVV {
  padding: 2px;
  background-color: red;
}

/***********************************************************************
 * Styles below this point are never seen by regular customers
 **********************************************************************/
/* 
 * Customer name autocompletion popup
 * Don't modify these unless you know
 * what you're doing
 */
div.auto_complete {
  width: 350px;
  background: #fff; }

div.auto_complete ul {
  border: 1px solid #888;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none; }

div.auto_complete ul li {
  margin: 0;
  padding: 3px; }

div.auto_complete ul li.selected {
  background-color: #ffb; }

div.auto_complete ul strong.highlight {
  color: #800;
  margin: 0;
  padding: 0; }


/* General tabular styles */

/* easier to navigate if tabular rows hilited on hover */
table.hilite tr {
	padding: 2px 0;
	line-height: 1.2;
}
table.hilite tr:hover {
	background-color: #fcfe69;
}
/* To make alternating table rows different colors, set the styles here  */
.even { background-color: inherit; }
.odd { background-color: #eee; }

.admin {
  background-color: #eff19e;
  color: black; }

.adminDiv {
  background-color: #eff19e;
  display: block; }

.adminField {
    width: 100%;
    display: inline-block;
  font-family: PT Sans, sans-serif;
  clear: both;
  padding: 2px 10px;
  background-color: #eff19e;
  color: black; }



/*
 * Popup-help styles (http://psacake.com/web/jl.asp)
 */

a.a1tooltip {outline:none; }
a.a1tooltip strong {line-height:30px;}
a.a1tooltip:hover {text-decoration:none;} 
a.a1tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:300px; line-height:16px;
}
a.a1tooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
    
/* Pagination of customer list */
#customer_list_header { 
  text-align: center;
  padding: 10px;
  width: 100%;
 }
.pagination {
  width: auto;
  margin: 0 auto; /* centered */
  display: block;
  /* self-clearing method: */ }
  .pagination form {
     float: left;
   }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .pagination a:hover, .pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child + html .pagination {
    overflow: hidden; }


/* for truncated strings that display whole string  */
a.tooltip span
{
    border-radius:4px;
    font-size: small !important; 
    box-shadow: 5px 5px 8px #CCC;
}


/* Styling of the popup help */
.popupHelpLink {
	background-color: #fcfe17;
	font-size: smaller;
        display: inline;
	color: #1c05fd;
	padding: 2px;
}


span.tooltip {
    position:relative; /*this is the key*/
    z-index:24; 
    }

span.tooltip:hover{
	z-index:25; 
	background-color:#ff0
	}

span.tooltip span{
	display: none  
}
span.tooltip:hover span { /* will display just on :hover state*/
    display:block;
    position:absolute;
    top: 0;
    left: 0;
    width: inherit;
    background-color:#cff; 
    color:#000;
}

/* Flippy triangles */
.flippy, .flippy:hover, .flippy:visited {
    text-decoration: none;
}

/* Inline form buttons */
.inline, .button-to, .button-to div {
   display: inline;
}

/* Printable receipts */
/* plain style for receipts */
body#receipt {
  background: none;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  border: 2px solid black;
  padding: 0.5em;
  margin: 0.5em;
  font-size: larger; }
  body#receipt * {
    color: black;
    background: none; }

#onBehalfOfName {
	color: blue;
	font-weight: bold;
	font-size:  larger;
}
/* Make autocomplete menu not be infinitely long */
.ui-autocomplete {
  max-height: 50ex;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
  height: 50ex;
}

/*
 * Staff action buttons that appear for a customer (Contact, Prospecting, etc)
 */
#staffButtons {
	border-top: 1px groove #fff;
}
/*
 * Customer list 
 */
#customer_list_header {
    margin-top: 0.5ex;
    margin-bottom: 0;
    padding-top: 2px;
    padding-bottom: 0;
    text-align: center;
}

#customer_list_header span.customer_list_header {
    font-size: 110%;
    font-weight: bold;
}

.customer_label {
    font-size: 90%;
    background-color: MintCream;
    margin: 1px;
    padding: 1px;
}

tr.staff {
    font-style: italic;
}
tr.invalid {
    color: red;
}
tr.subscriber {
    background-color: #9f9;
}
/*
 * General utility styles
 */
.totalsRow {
  font-weight: bold;
  background-color: #ccc;
  font-size: larger;
 }


/* 
 * Edit shows and showdates
 */

.show_name {
	font-style: italic;
}
table.showdates_summary {
	border-style: solid;
	border-color: #000;
	background-color: #e6e6e6;
	line-height: normal;
	padding-left: 20px;
}
table.showdates_summary th {
	background-color: #e6e6e6;
	color: #4c4c4c;
	text-align: center;
}
table.showdates_summary td {
	padding-right: 5px;
	padding-left: 5px;
}

/*
 * Credit card payment error message
 */
#payment_errors {
	background-color: red;
	color: white;
	font-size: larger;
	font-weight: bold;
	padding: 0 2em;
}

/*
 * Box office functions header ("stats for this show")
 */
#select_show {
	clear:  both;
    margin: 1em;
    font-size: larger;
}
#select_show select {
	font-size: larger;
} 

 table#showdate_info {
	border: 0;
	font-size: larger;
	width: 600px;
	text-align: center;
}
table#showdate_info td.header {
	text-align: right;
}
table#showdate_info td.value {
	text-align: right;
	width: 10em;
}
/*
 * Walkup sales
 */

.walkup_tickets {
	width: 100%;
}
.walkup_tickets .column {
	float: left;
	padding: 0;
	margin: 4px;
	width: 45%;
} 
.walkup_tickets .column:hover {
	border: 1px solid red;
	margin: 3px;
}
.walkup_tickets p.column_header {
	font-size: larger;
	text-align: center;
	font-weight: bold;
	color: #fff;
	background-color: red;
    padding: 4px 0;
    margin: 0;
}
.walkup_tickets #payment_types {
    font-size: 100%;
    
}
#whoops_button {
    text-align: center;
    line-height: 2.5;
}
#payment_types {
	text-align: center;
	font-size: medium;
	font-weight: bold;
	margin-top: 10px;
}
#payment_types input[type="radio"] {
	margin-right: 4ex;
	margin-left: -5px;
}
#ccWaiting {
  background-color: white;
  color: red;
  line-height: 1.5em;
  font-weight: bold;
  text-align: center;
  border: 1px solid red;
  padding: 2px;
}
#ccWaiting a a:hover {
  color: red;
 }
 
/*
 * Online check-in
 */
table#checkin {
	border: 1px solid grey;
}
table#checkin tr {
	line-height: 1.2;
}
table#checkin td.checkin_column {
	width: 8em;
}
table#checkin td {
	border-bottom: 1px solid #ddd;
	vertical-align: middle;
}
span.un_check_in {
}
span.checkin_button {
  text-align: center;
  font-family: "Lucida Sans Typewriter", "Andale Mono", "Courier", "Courier New", fixed;
  margin: 0;
  padding: 2px;
}
span.checkin_button:hover, span.checked_in {
  background-color: yellow;
}

/*
 * Reports
 */

/* Advance sales reports */



div.show .showSalesDate {
  width: 15em;
}
div.show .showSalesVoucherType {
  padding-left: 1em;
  width: 20em;
}
div.show .showSalesDateQty {
  width: 5em;
  text-align: right;
  font-weight: bold;
}
div.show .showSalesDatePercent, div.show .showSalesPercent {
  width: 5em;
  text-align: center;
}
div.show .showSalesDateRevenue {
  width: 10em;
  font-weight: bold;
}
div.show .showSalesRevenue {
  width: 10em;
}

/* output options for customer lists */

#report_body ul	 {
	list-style: disc;
}

#output_options p {
	margin-left: 2ex;
	margin: 4px;
}

#output_options p.fieldgroup {
	padding-top: 4px;
	padding-bottom: 4px;
	margin-top: 2px;
	margin-bottom: 2px;
	font-weight: bold;
	margin-left: 0;
}


/*
 * Door list
 */
 
body#door_list {
	background: none;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size:  11pt;
}
body#door_list h1, body#door_list h2 {
	font-family: inherit;
	color: black;
}

/* Index letter column (style applies to TD) */
.maincolumn {
  border: none;
  background: none;
  font-size: large;
  font-weight: bold;
  color: red;
}
/* Subscribers are hilited on door list (style applies to a TR) */
.subscriber {
  background-color: #9f9;
}
/* Attention - something's not right here */
.attention {
  color: red;
}

/*
 *  Importing
 */
 
table.import {
    height: 2ex;
}
table.import td {
	border-width: 1px;
	border-style: dotted;
}

#import_help div {
    margin-left: 200px;
    margin-right: 200px;
    border: 2px solid grey;
    padding: 2px 4px;
}
#import_help ul, #import_help ol {
    list-style: square;
    margin-left: 2em;
}

