#doorList h1 { 
  border: 2px solid black;
  text-align: center;
  font: large;
  line-height: 1.25em;
  padding: 2px;
  margin: 0 10px;
}

#doorList h2 { 
  font: medium;
  font-weight: bold; 
  text-align: center;
}

#doorList table { 
  align: center;
  width: 90%;
  font: large;
  border: 1px solid grey;
  border-collapse: collapse;
 }

#doorList  td { 
        border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
 }

#doorList .subscriber { 
  background-color: #eee;
  font-weight: bold;
 }

