/* Overrides for default seat-charts styles */

.seatCharts-seat.unavailable {
    background-color: lightGrey;
}
/* Seats may be of type 'regular' or 'accessible'; we may add other types later */
/* Regular seats are green */
.seatCharts-seat.selected.regular {
    background-color: green;
}
.seatCharts-seat.available.regular {
    background-color: lightGreen;
}
.seatCharts-seat.focused.regular {
    border: 2px solid yellow;
    background-color: green;
}
/* Accessible seats are blue */
.seatCharts-seat.selected.accessible {
    background-color: blue;
}
.seatCharts-seat.available.accessible {
    background-color: CornflowerBlue;
}
.seatCharts-seat.focused.accessible {
    border: 2px solid yellow;
    background-color: blue;
}
/* Hovering over seat shows seat number */
[data-seatnum] {
    position: relative;
}
[data-seatnum]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.1s;
    visibility: visible;
}
[data-seatnum]:after {
    content: attr(data-seatnum);
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
    color: #111;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}

#seating-charts-wrapper {
    padding: 2px;
    margin: 2px;
    border: 1px solid black;
    position: relative;
    x-overflow: scroll;
}
.seatCharts-container {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
#seatmap {
    z-index: 2;
}
/* WARNING: do not override the following, or seatmap background image won't display correctly */

img.seating-charts-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}
div.seatCharts-cell {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 1px;
}
div.seatCharts-row {
    height: 22px;
    width: auto;
}

/* Legend */

.legend-container {
    height: 36px;
    padding-top: 2px;
    border-top: 1px solid grey;
    position: absolute;
    background-color: #eee;
}

.seatCharts-legendList {
    display: inline;
    list-style: none;
    padding-inline-start: 0;
    padding-left: 0;
    margin-left: 4ex;           /* should match value for .seat-select-cancel */
}
.seatCharts-legendItem {
    display: inline;
    padding-right: 4px;
}


/* Cancel button */

.seat-select-cancel {
    margin-left: 4ex;
    float: left;
}

