/* Overrides for default seat-charts styles */

/* arrange to display extra picture/text along with rendered seats */

/*
#main {
    width: auto;
    margin: 0 100px 0 100px;
}
#main h2 {
    text-align: center;
}
*/
    
.seatCharts-seat.unavailable {
    background-color: lightGrey;
}
/* Seats may be of type 'regular' or 'accessible'; we may add other types later */
/* Regular seats are green */
.seatCharts-seat.selected.regular {
    background-color: green;
}
.seatCharts-seat.available.regular {
    background-color: lightGreen;
}
.seatCharts-seat.focused.regular {
    border: 2px solid yellow;
    background-color: green;
}
/* Accessible seats are blue */
.seatCharts-seat.selected.accessible {
    background-color: blue;
}
.seatCharts-seat.available.accessible {
    background-color: CornflowerBlue;
}
.seatCharts-seat.focused.accessible {
    border: 2px solid yellow;
    background-color: blue;
}

#seating-charts-wrapper {
    padding: 2px;
    margin: 2px;
    border: 1px solid black;
    position: relative;
}
.seatCharts-container {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid red;
}
img.seating-charts-overlay {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}
div.seatCharts-cell {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 1px;
}
div.seatCharts-row {
    height: 22px;
    width: auto;
}

