%h1
  Editing Voucher Type
  =h @vouchertype.name

- form_tag :action => 'update', :id => @vouchertype do
  = render :partial => 'form' 
  = submit_tag 'Save Changes' 
  = gen_button 'Cancel', :action => 'list'

