%h1
  Editing Voucher Type
  =h @vouchertype.name

- if @num_vouchers > 0
  %p.explain
    = h(@num_vouchers)
    vouchers of this voucher type have already been issued.  Any changes
    you make will be retroactively reflected to all of them.  If this is not
    what you want, click Cancel below.

- form_tag :action => 'update', :id => @vouchertype do
  = render :partial => 'form' 
  = submit_tag 'Save Changes' 

= gen_button 'Cancel', :action => 'list'

