- form_tag vouchertypes_path do
  %fieldset#new_vouchertype
    %legend New Voucher Type
    = render :partial => 'form' 
    = submit_tag "Create"
    = submit_tag "Create & Add Another"
    = gen_button 'Cancel', :action => 'index'

