<% for column in Show.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @show.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @show %> |
<%= link_to 'Back', :action => 'list' %>
