%p 
  List customers attending this specific performance/event date:
  %br
  = select_tag 'attendance_show_id', options_from_collection_for_select(@args[:shows], :id, :name_with_run_dates_short, (@args[:current_show] ? @args[:current_show].id : nil))
  = select_tag 'attendance_showdate_id'
  :javascript
    $('#attendance_show_id').change(function() { 
      var id = $('#attendance_show_id').val();
      opts = $.parseJSON('#{@args[:shows_showdates]}');
      $('#attendance_showdate_id').html(opts[id]);
    });
    $('#attendance_show_id').trigger('change');


