%table.a1-table
  %tr
    %td
      List customers who attended
      // = select_tag 'operator', options_for_select(['Any','All'])
      <strong>ANY</strong>
      of these:
      %br
      = select_tag 'shows', options_from_collection_for_select(@args[:shows], :id, :name_with_run_dates_short), :multiple => true
    %td 
      But <strong>NONE</strong> of these:
      %br
      = select_tag 'shows_not', options_from_collection_for_select(@args[:shows], :id, :name_with_run_dates_short), :multiple => true
  %tr
    %td
      = check_box_tag 'restrict_by_vouchertype'
      Only if they used any of these:
      %br
      = select_tag 'vouchertypes', options_from_collection_for_select(@args[:vouchertypes], :id, :name_with_season_and_price), :multiple => true
