%p
  Donors who have made at least one donation of $
  = text_field_tag 'donation_amount', '1.00', :size => 5
  or more
  %br
  during the period
  = select_date_with_shortcuts 'special_report_dates'
