%p Search for customers with ANY of these labels:
- labels = Label.all.compact.sort_by(&:name)
- (0..((labels.size - 1) / 4)).each do |slice|
  <div class="row">
  - labels.slice(slice * 4, 4).each do |label|
    .col-md-3
      = check_box_tag "labels[#{label.id}]"
      %label{:for => "labels_#{label.id}"}= label.name
  </div>
