%p Search for customers with ANY of these labels: (Command-click on Mac or Control-click on Windows to select multiple)
= select_tag 'labels', options_from_collection_for_select(Label.all, :id, :name), :multiple => true, :size => [10, Label.count].min
