#select_show.form.form-row
  .col.text-right
    %label.col-form-label Show and Date:
  .col.text-center
    = select_tag 'new_showdate', showdates_with_urls(@showdate), :class => 'form-control', :onchange => 'window.location = $("#new_showdate").val()'
  .col
    = hidden_field_tag 'seatmap_info', @seatmap_info, :class => 'walkup_preview_seatmap'
