#change_showdate.clear
  %h1.floatleft= @showdate.printable_name
  .floatleft.h1= link_to_function 'Change', |
    'jQuery("#select_show").slideToggle()',  |
    {:class => 'genButton'}                 |
  .clear

  #select_show{:style => "display: none;"}
    %label{:for=>:showdate_thedate} Show and Date:
    = select_tag 'new_showdate', showdates_with_urls(), :onchange => 'window.location = $("#new_showdate").val()'


