#select_show.clear
  %label{:for=>:showdate_thedate} Show and Date:
  = select_tag 'new_showdate', showdates_with_urls(walkup_sale_path(@showdate)), :onchange => 'window.location = $("#new_showdate").val()'


