.pageDiv
  %h1 Ticket Sales Reports
  - form_tag({:action => 'advance_sales'}, {:method => :get}) do
    %p 
      All Sales Summary (Advance + Walkup) for: (shift-click to select multiple)
      %br
      = select_tag('shows', |
        options_from_collection_for_select(@all_shows, :id, :name_with_run_dates_short, @next_showdate.show.id), :multiple => true) 
      = submit_tag 'Go', :id => 'advance_sales'

  - form_tag({:action => 'unfulfilled_orders'},:method => :get) do
    %p 
      Show orders needing fulfillment as of today
      (usually means mailing something to customer).
      = submit_tag 'Generate Listing'
