- from ||= 'from' ; to ||= 'to'
- from_date = @from || Time.now.at_beginning_of_day
- to_date = @to || Time.now.at_beginning_of_day
%table.date_shortcuts
  %tr
    %td.r Date shortcuts:
    %td= select_date_shortcuts :start_year => 2007, :from_prefix => from, :to_prefix => to, :include_time => true
  %tr
    %td.r 
      %label{:for => from} Or custom range from:
    %td= select_datetime from_date, :prefix => from, :start_year => 2007, :time_separator => ':', :datetime_separator => ' - '
  %tr
    %td.r
      %label{:for => to} To:
    %td
      = select_datetime to_date, :prefix => to,  :start_year => 2007, :time_separator => ':', :datetime_separator => ' - '

