#continue
  - if Option.allow_gift_tickets? and @logged_in
    .form-group.form-row
      .col-md-4
      .form-check.col-md-8
        = check_box_toggle 'gift', false, 'submit','Continue to Recipient Information','Continue to Billing Information',:class => 'form-check-input'
        %label.form-check-label{:for=>:gift} This order is a gift

  .form-group.form-row  
    .col-md-4.offset-md-4
      = submit_tag 'Continue to Billing Information', :disabled => true, :id => 'submit', :class => 'btn btn-block btn-success text-center'
