#retail_purchase
  .form-row
    .col-md-4.text-right
      %label.col-form-label{:for => :retail} Retail purchase amount
    .col-md-1
      = text_field_tag 'retail', '', :size => 8, :class => 'itemQty form-control form-control-sm'
    .col-md-3.text-right    
      %label.col-form-label{:for => 'retail_account_code_id'} Account Code
    .col-md-4
      = select_tag 'retail_account_code_id', options_from_collection_for_select(AccountCode.all, :id, :name_with_code, Option.default_retail_account_code), {:class => 'form-control form-control-sm'}
  .form-row
    .col-md-4.text-right
      %label.col-form-label{:for => :retail_comments} Description of retail purchase
    .col-md-8
      = text_field_tag 'retail_comments', '', :class => 'form-control form-control-sm'
