- if 
.form-row
  .col-sm-2.col-offset-4= button_tag 'Choose Seats...', :class => 'btn btn-outline-primary btn-small show-seatmap'
  .col-sm-3.text-center= text_field_tag 'seats', '', :readonly => 'readonly', :class => 'seat-display shadow-none a1-passive-text-input'
