.miniStoreSteps{:id=>"step#{@step}"}
  %table
    %tr
      %td#step1
        %p.stepNum 1
        %p.stepDesc Select Tickets
      %td#step2
        %p.stepNum 2
        %p.stepDesc Verify Billing Address
      %td#step3
        %p.stepNum 3
        %p.stepDesc Verify Patron Info
      %td#step4
        %p.stepNum 4
        %p.stepDesc Pay by Credit Card
