BEGIN:VCALENDAR
VERSION:2.0
PRODID:<%= @venue -%> powered by Audience1st//EN
<% @showdates.each do |s| %>
BEGIN:VEVENT
DTSTART:<%= s.thedate.strftime('%Y%m%dT%H%M00') %>
DTEND:<%= (s.thedate + 150.minutes).strftime('%Y%m%dT%H%M00')%>
SUMMARY:<%= s.show.name %>
END:VEVENT
<% end %>
END:VCALENDAR
