#store
  %h1.page_heading.center Gift Order

  %p 
    Please enter the gift recipient's full name, mailing address, and at least
    one phone number or email address.
    %br
    In order to keep your gift a secret, we will
    %strong not
    notify the recipient of this purchase.

  - if @cart.include_donation?
    %p.strong Note: Donations will be credited to buyer, not to gift recipient.

  - form_tag :action => 'set_shipping_address' do
    = render :partial => 'customers/form', :locals => {:customer => @recipient, :legend => "Gift Recipient", :hide_opt_out => false}
    = gen_button '<< Go Back', :action => (@redirect_to || :index)
    to change or cancel order, or
    = submit_tag 'CONTINUE >>'
    %span#nextstep to Billing Information

