%ul#store_nav= nav_tabs 'store_nav', |
  [['Settings', :options, :edit],  |
  ['Import', :imports, :index], |
  ['Bulk Import', :bulk_downloads, :new], |
  ['Back to Main', :customers, :welcome] |
  ] |
