%ul.nav= nav_tabs 'store_nav', |
  [['Walkup Sales', :box_office, :walkup, @showdate], |
  ['Printable Door List', :box_office, :door_list, @showdate], |
  ['Reservation Checkin', :box_office, :checkin, @showdate], |
  ['Walkup Report', :box_office, :walkup_report, @showdate], |
  ['Back to Main', :customers, :list]]  |
