#footer.center
  \&copy; 2008
  Secure ticketing by
  = link_to 'A1 Patron Systems', 'http://www.a1patronsystems.com'
  = " - Version #{APP_VERSION} - "
  = link_to "Terms of Use & Privacy Policy", Option.value(:privacy_policy_url)
