#footer.center
  %p
    \&copy; 2011&ndash;2016
    Secure ticketing by
    = link_to 'Audience1st', 'http://www.audience1st.com'
    = " - commit #{APP_VERSION} - "
    - unless (s = Option.privacy_policy_url).blank?
      = link_to "Terms of Use & Privacy Policy", s



