#footer.center
  \&copy; 2010
  Secure ticketing by
  = link_to 'A1 Patron Systems', 'http://www.a1patronsystems.com'
  = " - Version #{APP_VERSION} - "
  - unless (s = sanitize_option_text(:privacy_policy_url, 'span')).blank?
    = link_to "Terms of Use & Privacy Policy", s




