#footer.center
  %p
    \&copy; 2011
    Secure ticketing by
    = link_to 'A1 Patron Systems', 'http://www.a1patronsystems.com'
    = " - commit #{APP_VERSION} - "
    - unless (s = sanitize_option_text(:privacy_policy_url, 'span')).blank?
      = link_to "Terms of Use &amp; Privacy Policy", s



