- tabs = [['Buy Tickets', :store, :index], |
  ['My Tickets', :customers, :welcome], |
  ['Billing/Contact', :customers, :edit], |
  ['Change Password', :customers, :change_password]] |
- tabs.insert(1, ['Subscribe', :store, :subscribe]) unless Vouchertype.subscriptions_available_to(@gCustomer).empty?
- if @gAdmin.is_staff
  - tabs +=    |
    [['Season', :shows, :list], |
    ['Vouchers', :vouchertypes, :list], |
    ['Reports', :report, :index], |
    ['Box Office', :box_office, :walkup], |
    ['Donations', :donation, :list]] |
- if @gAdmin.is_boxoffice_manager
  - tabs << ['Admin', :options, :edit]
%ul#store_nav= nav_tabs 'store_nav', tabs
