%p.admin_field
  = h "#{@gCustomer.full_name}'s Account:"
  - buttons = [['Contact History', :visits, :list, {}], |
       ['Prospecting Activities', :visits, :list_by_prospector, {}], |
       ['Database Transactions',:txn, :list, |
          {:params => {:txns_filter => @gCustomer.id}}], |
       ['Record donation',:donation,:new, {}]] |
  - if @gAdmin.is_boxoffice_manager
    - buttons.push(['Add Vouchers',:vouchers, :addvoucher, {}], |
         ['Force Classic View', :customers, :welcome, {:force_classic => 1}], |
         ['Donation & Purchase History', :donation, :list, |
              {:use_cid => 1, :commit => 'Go', :cid => @gCustomer, |
              :show_vouchers => true}]) |
  = button_bar(buttons)
.clear
