!!! Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml","xml:lang"=>:en,:lang=>:en}
  %head
    = stylesheet_link_tag 'venue/default', :media => 'all'
    = stylesheet_link_tag 'vbo', :media => 'all'

  %title= h(@showdate.printable_name)

  %body#door_list{:class => (Figaro.env.sandbox ? :testing : nil)}

    = yield
